node_modules
contracts/Shred.sol
contracts/MozzarellaSupplyChain.sol
build/contracts/Shred.json
migrations/3_deploy_shred.js
serverside/data_new.csv
serverside/data.csv
serverside/minttoken.js
serverside/querytoken.js
serverside/statuscheck.js
serverside/updatetoken.js
test/testshred.js
server/credentials/
