.App {
  text-align: center;
}

.nav-list {
  background-color: #dddddd;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.nav-list-item {
  display: inline;
  font-size: 40px;
  padding: 10px 40px;
}

.cbtoken-label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.form-div {
  margin-bottom: 5px;
}

table, th, td {
  border:1px solid black;
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

text.actor {
  fill: black;
  stroke: none;
  font-family: Helvetica;
}

.actor {
  font-size: 20px !important;
  font-weight: bold !important;
}

.messageText {
  font-size: 20px !important;
  font-weight: bold !important;
}