.App {
  text-align: center;
}

.nav-list {
  background-color: #dddddd;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.nav-list-item {
  display: inline;
  font-size: 40px;
  padding: 10px 40px;
}

.form-div {
  margin-bottom: 5px;
}

.label {
  display: inline-block;
  width: 250px;
  text-align: right;
}

.form-input {
  background:transparent;
  /* height:32px; */
  border:1px solid #000000;
  width:250px;
}

select {
  /* border:0; */
  background:transparent;
  /* height:32px; */
  border:1px solid #000000;
  width:258px;
  /* -webkit-appearance: none; */
}

table, th, td {
  border:1px solid black;
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

text.actor {
  fill: black;
  stroke: none;
  font-family: Helvetica;
}

.actor {
  font-size: 24px !important;
  font-weight: bold !important;
}

.messageText {
  font-size: 24px !important;
  font-weight: bold !important;
}